doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")
  body
    <ul id="messages"></ul>
    <form id="form1" action="">
    <input id="m" autocomplete="off" placeholder="Enter text"><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.app.js"></script>

