//extends layout
doctype html
html
  head
    title= 'iFrame Test'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")
  body
    <div class="iframe-container">
      <iframe src="https://aws.robweed.io/chat" allowfullscreen></iframe>
    </div>
